.posts-list {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 1000px;
    padding: 7px;
    color: #3A3845;
    background-color: #F7CCAC;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}