@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
    color: #C69B7B;
    background-color: #3A3845;

}


.logo {
    font-family: 'Pacifico', cursive;
    font-size: 1.7rem;
}

.search {
    border: 2px solid #F7CCAC;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1.1rem;
    padding: 3px;
    margin: 2px;

}
button {
    font-size: 1.1rem;
    border: 2px solid #F7CCAC;
    border-radius: 5px;
    color: #3A3845;
    padding: 3px 6px;
    background-color: #F7CCAC;
}
.popular {
    background-image: linear-gradient(to top,  #ff9933,  #ffcf33);
}
form {

}